@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Patrick Hand SC", cursive;
}
body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 1100px;
  /* overflow-x: scroll; */
  margin: 10px auto;
  /* min-height: 70vh;
  max-height: 70vh; */
  padding: 10px;
  /* box-shadow: 0px 0px 10px rgb(43, 45, 54); */
}
.row div {
  position: relative;
}
.row div > div {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  border-right: 1px solid #fdfbfb;
  /* text-align: center; */
}
/* .row div > div::before {
  content: "";
  position: absolute;
  padding: 5px;
  border-radius: 50%;
  background-color: #dddddd;
  margin: 0 2px;
  top: -20px;
  left: 0px;
} */
button {
  padding: 20px;
  border: none;
  font-weight: 800;
}

.input-box {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  color: #fff;
}

#btns,
.input-box,
input {
  display: block;
  margin: 0 auto;
  padding: 10px;
}

#sort {
  padding: 5px 10px;
  margin: 10px 0px;
}

.input-box,
#btns {
  /* max-width: 25%; */
  padding: 10px;
  box-sizing: border-box;
}

#btns,
.input-box {
  display: flex;
}

.delay-box {
  color: rgb(15, 15, 15);
  display: flex;
}
.delay-box > div {
  margin: 0 10px;
}

#input-box {
  position: absolute;
  left: 50%;
  transform: translate(0, -100px);
  display: none;
  transition: all 2s;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  z-index: 9;
}
#input-box.search-box-show {
  display: block;
  transform: translate(-50%, 90px);
  transition: 2s;
}

#input-box input {
  width: 60%;
}
/* .delay-box input {
  width: 100%;
} */
